// Reference Colours
// Black: #262525,
// Grey: #767676,
// Pink: #f54997

$c-white: #fff;
$c-black: #262525;
$c-grey: #767676;
$c-pink: #f54997;

$base-font: Arial, sans-serif;
$base-unit: 10px;
$base-font-size: $base-unit * 1.6;
