<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/app.css">
        <title>BBC Radio Sandbox</title>
    </head>
    <body>
        <header class="constrain row">
            <ul>
                <li>
                    <img src="http://static.bbci.co.uk/frameworks/barlesque/3.21.17/orb/4/img/bbc-blocks-light.png" alt="BBC Logo">
                </li>
                <li>
                    <img src="//static.bbci.co.uk/tviplayer/img/navigation/iplayer_pink.svg" alt="iPlayer Radio logo">
                </li>
            </ul>
        </header>
        <%-body %>
    </body>
</html>
