<main class="constrain">
    <h1> Search results </h1>
    <section >
        <ul >
            <%  if ( searchResults.length ) {  %>
                    <% searchResults.forEach( ( result ) =>{ %>
                        <li >
                            <a href="#" >
                                <div>
                                    <img src="<%= result.image %>" alt="<%= result.title %>">
                                </div>
                                <div>
                                    <h2> <%= result.title %> </h2>
                                    <p> <%= result.synopsis %> </p>
                                </div>
                            </a>
                        </li>
                    <% }) %>
            <%  } else { %>
                <li>
                    <p>There are not results</p>
                </li>
            <%  } %>
        </ul>
    </section>
</main>
